.container {
    background-color: rgb(187, 19, 51);
    max-width: 400px;
    margin: 0 auto;
    padding: 2%;
    border-radius: 13px;
}

.display {
    background-color: #525252;
    text-align: right;
    color: #fff;
    font-size: 3rem;
    padding: 1% 2%;
    border-radius: 30px;
    margin-top: 15px;
}

.App {
    display: flex;
    flex-direction: row;
}

.speacials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.operators {
    display: flex;
    flex-direction: column;
}
.special-buttons {
    background-color: #0366d6;
    border-radius: 50%;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.operators-button {
    background-color: #00BFFF;
    border-radius: 50%;
}






.number-button {
    background-color: navy;
    border-radius: 50%;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 20px;
}